<launch>

    <!-- vehicle name e.g. cc2017_car -->
    <arg name="vehicle" default="ftm_rc_car_1"/>

    <!-- input topic name -->
    <arg name="input_topic" default="/wheel_encoder/raw"/>

    <!-- output topic name -->
    <arg name="output_topic" default="/wheel_encoder/odom"/>

    <!-- static frame id (moving frame id will be the axis frame) -->
    <arg name="static_frame_id" default="odom" />

    <!-- addionallty to the odom message, also broadcast tf? -->
    <arg name="broadcast_tf" default="true" />

    <!--
        use sensor time to publish tf and odometry
        advantage: published time is similar to sensor data time
        disadvantage: can cause problems with time jumps, when replaying bags in loops
    -->
    <arg name="use_sensor_time_for_pub" default="false" />

    <!--
        moving average filter.
        Length of moving average:
            * high: less noise, worse dynamics
            * low: high noise, better dynamics
    -->
    <arg name="filter_length" default="150" />

    <!-- vehicle configuration file -->
    <arg name="vehicle_config" default="$(find drive_ros_localize_wheel_odometry)/config/$(arg vehicle).yaml" />

    <!-- whether to use front vehicle encoders (if false then rear encoders are being used) -->
    <arg name="use_front" default="true"/>

    <!--
        frame of the axis where encoders are being used
        * if use_front == true: front axis frame
        * if use_front == false: rear axis frame
        will be used as child frame id
    -->
    <arg name="axis_frame" default="front_axis_middle_ground" />

    <!-- define nice value of process (lower means higher priority) [-20;19] -->
    <!-- more infos: https://en.wikipedia.org/wiki/Nice_(Unix) -->
    <arg name="nice" default="nice -n -5"/>

    <!-- forward output to [screen|log] -->
    <arg name="output" default="screen"/>


    <!-- debugging options -->
    <arg name="use_bag" default="false" />
    <arg name="bag_file" default="/path/to/file.bag" />
    <arg name="csv_out" default="/path/to/out.csv" />


    <node name="localize_wheel_odometry" pkg="drive_ros_localize_wheel_odometry"
          type="drive_ros_localize_wheel_odometry_node" output="$(arg output)" launch-prefix="$(arg nice)">
        <remap from="~/odom_out" to="$(arg output_topic)"/>
        <param name="input_topic" type="str" value="$(arg input_topic)"/>
        <param name="static_frame_id" type="str" value="$(arg static_frame_id)" />
        <param name="broadcast_tf" type="boolean" value="$(arg broadcast_tf)" />
        <param name="use_sensor_time_for_pub" type="boolean" value="$(arg use_sensor_time_for_pub)" />
        <param name="filter_length" type="int" value="$(arg filter_length)" />
        <param name="use_front" type="boolean" value="$(arg use_front)"/>
        <param name="axis_frame" type="str" value="$(arg axis_frame)"/>
        <param name="use_bag" type="boolean" value="$(arg use_bag)" />
        <param name="bag_file" type="str" value="$(arg bag_file)" />
        <param name="csv_out" type="str" value="$(arg csv_out)" />
        <rosparam command="load" file="$(arg vehicle_config)"/>
    </node>


</launch>
